img {
  object-fit: cover;
  width: 1500px;
  height: 600px;
  border-radius: 15px;
  filter: grayscale(50%);
}




.container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}
